# yaml-language-server: $schema=https://raw.githubusercontent.com/TheJokersThief/Banshee/main/schemas/global.json
github:
  use_github_app: false
  token: "gha-12345656787800"

  app_id: 0
  app_installation_id: 0
  app_private_key_filepath: ""

options:
  # Controls the verbosity of log output
  log_level: info
  # Assign a team to review code if no reviewers are already assigned by a CODEOWNERS file
  assign_code_reviewer_if_none_assigned: false
  # Show the output from all git actions (e.g. clones, pulls and fetches)
  show_git_output: true

  # These directories won't be traversed for find-and-replace actions
  ignore_directories:
    - vendor

  cache_repos:
    # If enabled, will store all downloaded repos permanently
    enabled: false
    # Location for storing the repos cache
    directory: "repos.cache"

  save_progress:
    # If enabled, banshee will track your progress and resume from where you left off
    enabled: true
    # Location for storing progress files
    directory: "repos.cache/_progress"
    # The number of repos to process at a time (cloning/migrating) [-1 disables batching]
    batch: -1

  merging:
    # "merge", "squash", "rebase"
    strategy: "merge"
    # A string to append to the merge commit message
    append_title: "[CI SKIP]"

defaults:
  # The author and commit email
  git_email: "no-reply@example.com"
  # The author and commit name
  git_name: "Example User"
  # GitHub organisation slug
  organisation: "github"
  # Team slug to be added as a reviewer
  code_reviewer: "no-one"
